@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);
html, body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1980px;
  margin: 0 auto;
}

.header__section,
.help__section {
  width: 2530px;
  background-color: #f3f7ed;
  margin: 0 auto;
  overflow: hidden;
}

.heder__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 85px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f7ed;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__logo:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -112px;
}
.navigation__link {
  letter-spacing: 0.96px;
  padding-left: 112px;
}
.navigation__link:hover {
  font-weight: 700;
}

.hamburger {
  display: none;
}

.header__signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
  margin-left: 10.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin:hover {
  text-decoration: underline;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 15px 55px 15px;
  background-color: #f3f7ed;
}

.help__content {
  width: 50%;
}

.help__title {
  margin-bottom: 60px;
  font-size: 112px;
}

.welcom-green {
  font-size: 112px;
  color: #92d35e;
}

.title-green {
  color: #92d35e;
  font-size: 129px;
  font-weight: 700;
}

.help__text {
  margin-top: 150px;
  margin-bottom: 60px;
}

.socialnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}

.socialnetwork p {
  margin-right: 55px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -22px;
}

.social__items {
  padding-left: 20px;
}
.social__items a {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.social__items a:hover {
  opacity: 0.5;
}

.hend__image {
  position: relative;
  z-index: 2;
  margin-top: -20%;
}

.border {
  position: relative;
  border: 2px solid #92d35e;
}

.help__border {
  width: 1200px;
  height: 1000px;
  border-radius: 155px;
  margin-top: -86%;
  margin-left: -2%;
}

.category__section,
.job__section,
.services__section,
.form__section,
.find__section,
.footer__section {
  width: 2530px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

.category__container {
  padding: 230px 15px 0 15px;
}

.title__category,
.title__job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.category__all,
.job__all {
  display: inline-block;
  margin-left: 80px;
}

.title__category,
.title__job {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.title__category a,
.title__job a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 110px;
}
.title__category img,
.title__job img {
  margin-left: 45px;
}

.slider__category {
  position: relative;
}

.cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 561px;
}

.cards__items {
  width: 350px;
  height: 550px;
  border-radius: 50px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  margin-left: 85px;
}

.cards__items:first-child {
  margin-left: 0;
}

.cards__img {
  margin: 100px 100px;
}

.job__container {
  padding: 190px 0 0 15px;
}

.job__image {
  position: relative;
  z-index: 99;
  margin-top: -200%;
}

.job__border {
  position: relative;
  width: 470px;
  height: 1000px;
  border-radius: 64px;
  margin-top: -3%;
  margin-left: -8%;
}

.job__cards {
  margin-left: 95px;
}

.job__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job__items {
  width: 48%;
  border-radius: 48px;
  border: 2px solid #e8e8e8;
  padding: 65px 55px;
  position: relative;
  margin-bottom: 135px;
}

.job__items-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
}

.items-title-img {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 19px;
  border: 2px solid #e8e8e8;
  padding: 25px 25px;
}

.items-title-content {
  margin-left: 40px;
  width: 300px;
  height: 230px;
  overflow: hidden;
}

.job__cards-text {
  font-size: 28px;
  color: #9d9d9d;
  margin-top: 15px;
}

.job__items-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 0 0;
}

.services__container {
  padding: 235px 15px 0 15px;
}

.title__services {
  margin-bottom: 300px;
}

.services__title {
  text-align: center;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__img {
  margin-bottom: 100px;
}

.services__title {
  margin-bottom: 50px;
}

.services__subtitle {
  font-size: 32px;
  color: #343434;
  line-height: 45px;
}

.find__container {
  padding: 200px 15px 100px 15px;
}

.find__title {
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 25%;
}

.title__find {
  height: 1210px;
  background-image: url("../images/find.png");
}

.footer__container {
  padding: 130px 15px 0 15px;
}

.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e8e8e8;
  border-top: 2px solid #e8e8e8;
  padding: 100px 0;
}

.logo__footer {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.footer__logo:hover {
  opacity: 0.7;
}
.footer__text {
  width: 650px;
  margin: 105px 0 65px 0;
  color: #9d9d9d;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.co__list {
  margin-top: 45px;
}

.co__items {
  padding-top: 40px;
}
.co__items:first-child {
  padding-bottom: 40px;
}

.co__link {
  color: #343434;
}
.co__link:hover {
  text-decoration: underline;
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 465px;
  margin-top: 85px;
}

.newsletter__text {
  margin: 90px 0 120px 0;
  color: #9d9d9d;
}

.footer__email {
  color: #4b4b4b;
  margin-bottom: 60px;
}

.footer__copyright {
  padding: 100px 0;
}

.copyright__text {
  color: #343434;
}

@media (max-width: 768px) {
  .hamburger {
    z-index: 100;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    height: 40px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    background-color: #4b4b4b;
    height: 4px;
  }
  .hamburger span {
    height: 4px;
    background-color: #4b4b4b;
  }
  .navigation {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f7ed;
    height: 410px;
  }
  .navigation__body {
    padding: 20px;
  }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .navigation__list.active {
    visibility: visible;
    opacity: 1;
  }
  .navigation__item {
    margin-bottom: 40px;
  }
  .navigation__item:last-child {
    margin-bottom: 0;
  }
  .navigation__link {
    font-size: 36px;
  }
  .header__signin {
    margin-left: 1.5rem;
  }
  .help__container {
    padding: 300px 15px;
  }
  .help__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .help__images {
    display: none;
  }
  .help__title {
    margin-top: 50px;
  }
  .socialnetwork {
    margin-top: 100px;
  }
  .title__category,
.title__job {
    display: block;
    margin-bottom: 100px;
  }
  .category__all,
.job__all {
    margin-top: 80px;
    margin-left: 0;
  }
  .cards__items {
    margin: 0 15px;
  }
  .cards__items:first-child {
    margin-left: 15px;
  }
  .job__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .job__image {
    display: none;
  }
  .job__border {
    display: none;
  }
  .job__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .job__items {
    width: 40%;
  }
  .job__cards {
    margin-left: -5%;
  }
  .job__items-button {
    margin-left: 300px;
  }
}
@media (max-width: 576px) {
  .job__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .job__items {
    width: 100%;
  }
  .job__items-button {
    margin-left: 200px;
  }
  .title__services {
    margin-bottom: 150px;
  }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .services__items {
    margin-left: 40px;
  }
  .find__container {
    padding: 200px 15px 0 15px;
  }
  .find__title {
    position: static;
    text-align: left;
  }
  .title__find {
    height: 200px;
    background-image: none;
    margin-bottom: 100px;
  }
  .footer__information {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__footer {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__company {
    margin-bottom: 100px;
  }
}
/*NORMALIZE.CSS*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*NORMALIZE.CSS END*/
/*RESET*/
*,
:focus {
  outline: none;
}

body {
  -webkit-fontype-smalloothing: antialiased;
}

body,
html {
  height: 100%;
  width: 100%;
}

a,
input[type=radio],
input[type=checkbox],
select {
  cursor: pointer;
}

select[disabled] {
  cursor: default;
}

/*normalization mozila*/
input:-webkit-autofill {
  background-color: transparent;
}

/*normalization ie7*/
* + html input[type=checkbox],
* + html input[type=radio] {
  width: 13px;
  height: 13px;
}

textarea {
  resize: none;
  vertical-align: top;
}

em,
i {
  font-style: italic;
}

img {
  vertical-align: top;
}

input {
  vertical-align: middle;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none outside none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  quotes: "“" "”" "‘" "’";
}

:focus {
  -moz-outline: 3px solid #fff !important;
}

input[type=radio]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0 !important;
}

input[type=checkbox]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}

/*fix button click opera old version*/
button:after {
  content: "";
}

del {
  text-decoration: line-through;
}

table {
  width: 100%;
}

form {
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*RESET END*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: #4b4b4b;
  letter-spacing: 0.64px;
  font: 400 0.6037735849 "Lato";
}

h1,
h2,
h3 {
  font-family: "Lato";
}

h2 {
  font-size: 129px;
  font-weight: 700;
  line-height: 142.4px;
}

h3 {
  color: #343434;
  font-size: 40px;
  line-height: 41px;
}

h4 {
  font-size: 36px;
  color: #4b4b4b;
  line-height: 41px;
}

h5 {
  font-size: 72px;
  color: #92d35e;
}

a {
  font-size: 28px;
  color: #4b4b4b;
}

p {
  color: #4b4b4b;
  letter-spacing: 0.64px;
  font-size: 32px;
  line-height: 53px;
}

button {
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.96px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 112px;
  }
}
.text__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 170px;
  width: 1250px;
  padding: 55px 75px;
  z-index: 3;
  margin-top: 60px;
  -webkit-box-shadow: 42px 39px 73px rgba(44, 55, 35, 0.04);
          box-shadow: 42px 39px 73px rgba(44, 55, 35, 0.04);
  border-radius: 24px;
  background-color: #fff;
}

.search {
  padding-left: 55px;
  padding-right: 65px;
  border: none;
  font-size: 32px;
}

.separator {
  width: 3px;
  height: 30px;
  background-color: #4b4b4b;
}

.location {
  margin-left: 45px;
  color: #b2b2b2;
  font-size: 32px;
}

.dropdown__list {
  padding-top: 55%;
  padding-left: 20%;
}

.dropdown__link {
  opacity: 0;
}
.dropdown__link:hover {
  opacity: 1;
}

.form__button {
  margin-left: 100px;
  padding: 40px 70px;
}

.form__container {
  padding: 335px 15px 0 15px;
}

.form-home {
  background-color: #92d35e;
  border-radius: 59px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.home-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 200px;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content-title {
  color: #fff;
  line-height: 117px;
  margin-bottom: 55px;
}

.form__content-text {
  color: #dff4cf;
  font-size: 32px;
  line-height: 61px;
  letter-spacing: 0.6px;
  width: 784px;
}

.input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-home__input {
  padding: 65px 75px;
  width: 760px;
  border-radius: 28px;
  background-color: #f3f7ed;
  border: none;
  background-color: #fff;
}

.footer__input {
  padding: 30px 100px;
  border-color: #9d9d9d;
  background-image: url(../images/email.png);
  background-position: 10% 50%;
  background-repeat: no-repeat;
}

.header__button {
  margin-left: 2.5rem;
  padding: 40px 60px;
}
.header__button a {
  color: #fff;
}

.button {
  border-radius: 18px;
  background-color: #92d35e;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button:hover {
  background-color: #4b4b4b;
}

.right__button,
.left__button {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.left__button {
  background-image: url("../images/left.png");
  left: 0;
}

.right__button {
  background-image: url("../images/right.png");
  right: 0;
}

.job__items-button {
  position: absolute;
  padding: 20px 45px;
  margin-top: 40px;
  margin-left: 200px;
  z-index: 99;
}

.footer__button {
  text-align: center;
  padding: 30px 165px;
  margin-top: 85px;
}

.form-home__button {
  background-color: #4b4b4b;
  padding: 35px 90px;
  margin-left: 75px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form-home__button:hover {
  background-color: #dff4cf;
  color: #4b4b4b;
}

.round__button {
  width: 20%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #92d35e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.round__button:hover {
  background-color: #4b4b4b;
}
.round__button span {
  width: 120px;
  text-indent: -99999px;
  display: block;
}

@media (max-width: 768px) {
  .text__form {
    padding: 35px 25px;
    width: 1150px;
  }
  .search {
    padding-left: 25px;
    padding-right: 0;
    font-size: 32px;
  }
  .location {
    margin-left: 25px;
    font-size: 32px;
  }
  .dropbtn {
    margin-left: 45px;
    font-size: 32px;
  }
  .form__button {
    margin-left: 100px;
    padding: 20px 50px;
  }
  .header__button {
    padding: 20px 40px;
  }
}
@media (max-width: 576px) {
  .form__container {
    padding: 135px 15px 0 15px;
  }
  .home-form {
    padding: 135px 150px;
  }
  .input__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-home__input {
    margin: 50px 0;
  }
  .home-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 50px;
  }
}