
@import "../scss/variables";
@import "../scss/mixins";


html,body {
    height: 100vw;
    background-color: $bgc3;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 2525px;
    margin: 0 auto;  
}
// ===============header
.heder__container {
    display: flex;
    align-items: center;   
    padding: 85px 30px;
    justify-content: space-between;
    
}

.header__logo {
    flex: 1 1 auto;
    &:hover {
        opacity: 0.8;
        transition: all 0.5s ease;
    }
}

.navigation {
&__list {
    display: flex; 
} 

&__link {
    letter-spacing: 0.96px;
    padding-left: 112px;
    &:hover {
        font-weight: 700;
    }
}
}
// ---------

.hamburger {
    display: none;
}

.header__signin {
    display: flex;
    flex: 0 0 490px;
    margin-left: 10.7rem;
    align-items: center;
}

.signin {
    &:hover {
        text-decoration: underline;
    }

}
.header__button {
    margin-left: 2.5rem;
    padding: 40px 60px;
    a {
        color: $color4;
    }
}

.button {
    border-radius: 18px;
    background-color: $bgc2;
    color: $color4;
     &:hover {
        background-color: $bgc1;
        transition: all 0.5s ease;
     }
}

// ================= help

.help__container {
    position: relative;
    display: flex;
    padding: 325px 15px 0 15px;
}
.help__content {
  width: 50%;
}

.help__title {
    margin-bottom: 100px;
    
}
.title-green {
    color: $color2;
    margin-bottom: 150px;
}
.help__text {
    margin-bottom: 60px;
}

.text__form {
    position: absolute;
    display: flex;
    background-color: $bgc4;
    width: 1450px;
    padding: 65px 77px;
    z-index: 1;

}


// ==================media=====
@media (max-width: 768px) {
    .hamburger {
        position: relative;
        flex: 0 0 40px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &::before,
        &::after {
            content: "";
            background-color: #000;
            height: 2px;
        }
       & span {
        height: 2px;
        background-color: #000;
       }
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgc3;

         &__list {
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-top: 200px;

        } 
        &__item {
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        
        &__link {
         font-size: $fs-xlg;
        }
        }

    .header__signin {
        margin-left: 1.5rem;
    }
    .header__button {
        padding: 20px 40px;
    }
}
