
.text__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgc4;
    height: 170px;
    width: 1250px;
    padding: 55px 75px;
    z-index: 3;
    margin-top: 60px;
    box-shadow: 42px 39px 73px rgba(44, 55, 35, 0.04);
    border-radius: 24px;
    background-color: $bgc4;
}

.search {
    padding-left: 55px;
    padding-right: 65px;
    border: none;
    font-size: $fs-md;
}

.separator {
    width: 3px;
    height: 30px;
    background-color: $bgc1;
}

.location {
    margin-left: 45px;
    color: $color5;
    font-size: $fs-md;
}

.dropdown__list {
    padding-top: 55%;
    padding-left: 20%;
}

.dropdown__link {
     opacity: 0;
      &:hover { 
        opacity: 1;
 }

}

.form__button {
    margin-left: 100px;
    padding: 40px 70px;
}

// =========form-home

.form__container {
    padding: 335px 15px 0 15px;
}

.form-home {
    background-color: $bgc2;
    border-radius: 59px;
    display: inline-flex;
}

.home-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 135px 200px;

}

.form__content {
    display: flex;
    flex-direction: column;
}

.form__content-title {
    color: $color4;
    line-height: 117px;
    margin-bottom: 55px;
}

.form__content-text {
    color: $color8;
    font-size: $fs-md;
    line-height: 61px;
    letter-spacing: 0.6px;
    width: 784px;
}
.input__form {
    display: flex;
    align-items: center;
}

.form-home__input {
padding: 65px 75px;
width: 760px;
border-radius: 28px;
background-color: $bgc3;
border: none;
background-color: $bgc4;
}


// ====
.footer__input {
    padding: 30px 100px;
    border-color: $color7;
    background-image: url(../images/email.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

// ====buttons
.header__button {
    margin-left: 2.5rem;
    padding: 40px 60px;
    a {
        color: $color4;
    }
}

.button {
    border-radius: 18px;
    background-color: $bgc2;
    color: $color4;
    transition: all 0.5s ease;
     &:hover {
        background-color: $bgc1;
     }
}

.right__button,
.left__button {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left__button {
    background-image: url("../images/left.png");
    left: 0;
}

.right__button {
    background-image: url("../images/right.png");
    right: 0;
}

.job__items-button {
    position: absolute;
    padding: 20px 45px;
    margin-top: 40px;
    margin-left: 200px;
    z-index: 99;
}

.footer__button {
    text-align: center;
    padding: 30px 165px;
    margin-top: 85px;
}
.form-home__button {
    background-color: $bgc1;
    padding: 35px 90px;
    margin-left: 75px;
    transition: all 0.5s ease;
    &:hover {
        background-color: $color8;
        color: $color1;
    }
}


.round__button {
    width: 20%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: $bgc2;
    transition: all 0.5s ease;
    cursor: pointer;
        &:hover {
            background-color: $bgc1;
        }
    span {
        width: 120px;
        text-indent: -99999px;
        display: block;
    }
}

// ======
@media (max-width: 768px) {
    .text__form {
        padding: 35px 25px;
        width: 1150px;
        
    }
    .search {
        padding-left: 25px;
        padding-right: 0;
        font-size: $fs-md;
    }
       
    .location {
        margin-left: 25px;
        font-size: $fs-md;
    }
    
    .dropbtn {
        margin-left: 45px;
        font-size: $fs-md;
    }

    .form__button {
        margin-left: 100px;
        padding: 20px 50px;
    }
    .header__button {
        padding: 20px 40px;
    }
}

@media (max-width: 576px) {
    .form__container {
        padding: 135px 15px 0 15px;
    }
    
    .home-form{
        padding: 135px 150px;
    } 
    .input__form {
        flex-direction: column;
    }
    .form-home__input {
        margin: 50px 0;
    }
    .home-form {
        flex-direction: column;
        padding: 50px 50px;
    }
}