body {
    color: $color1;
    letter-spacing: 0.64px;
    font-size: $fs-md;
    font-weight: 400;
    line-height: 53px  
}

h1,
h2,
h3 {
	font-family: $main-font; 
}

h2 {
    font-size: $fs-xxxlg;
    font-weight: 700;
    line-height: 142.4px;
    }

h3 {
    color: $color3;
    font-size: #{$fs-xlg+4};
    line-height: 41px;
}

h4{
    font-size: $fs-xlg;
    color: $color1;
    line-height: 41px;
}

h5{
    font-size:#{$fs-xlg+36};
    color: $color2;
}

a {
    font-size: $fs-sm;
    color: $color1;
}

p {
    color: $color1;
    letter-spacing: 0.64px;
    font-size: $fs-md ;
    line-height: 53px;
}

@media (max-width: 768px) {
    h2 {
        font-size: #{$fs-xlg+76};
    }
}