$fs-xxxlg: 129px; 
$fs-xxlg: 44px;
$fs-xlg: 36px;
$fs-md: 32px; 
$fs-sm: 28px;
$main-font: "Lato"; 
$color1: #4b4b4b; 
$color2: #92d35e;
$color3:  #343434;
$color4:#fff;
$color5: #b2b2b2;
$color6: #e8e8e8;
$color7: #9d9d9d;
$color8: #dff4cf;
$bgc1: #4b4b4b;
$bgc2: #92d35e;
$bgc3:#f3f7ed;
$bgc4: #fff;