$fs-xxlg: 129px; 
$fs-xlg: 44px;
$fs-xlg: 36px;
$fs-md: 32px; 
$fs-sm: 28px;
$main-font: "Lato"; 
$color1: #4b4b4b; 
$color2: #92d35e;
$color3:  #343434;
$color4:#fff;
$bgc1: #4b4b4b;
$bgc2: #92d35e;
$bgc3:#f3f7ed;
$bgc4: #fff;