.footer__section 
    .footer__container 
        .footer__information
            .logo__footer.footer
                .footer__logo 
                    img(src="images/footer-logo.png", alt="") 
                p.footer__text 
                                |Start working with Firmbee which can provide
                                |you with all the tools needed to run an effcieint
                                |business remotely.
                ul.footer__social 
                    li.social__items
                        a(href="#") 
                            img(src="images/insta.png", alt="")
                    li.social__items  
                        a(href="")
                            img(src="images/twfooter.png", alt="") 
                    li.social__items 
                        a(href="") 
                            img(src="images/fbfooter.png", alt="")
                    li.social__items 
                        a(href="")
                            img(src="images/infooter.png", alt="") 
            .footer__company 
                h3.footer__title  #[b Company] 
                    ul.co__list
                        li.co__items
                            a.co__link(href="") About us
                        li.co__items
                            a.co__link(href="") Services
                        li.co__items
                            a.co__link(href="") Team
                        li.co__items
                            a.co__link(href="")  Pricing
                        li.co__items
                            a.co__link(href="")  Project
                        li.co__items
                            a.co__link(href="")  Careers
                        li.co__items
                            a.co__link(href="") Blog
                        li.co__items
                            a.co__link(href="")  Login
                h3.footer__title #[b Usefull Links]
                    ul.co__list
                        li.co__items
                            a.co__link(href="") Terms of Services
                        li.co__items
                            a.co__link(href="") Privacy Policy
                        li.co__items
                            a.co__link(href="") Documentation
                        li.co__items
                            a.co__link(href="")  Changelog
                        li.co__items
                            a.co__link(href="")  Components
            .footer__newsletter
                h3.footer__title #[b Newsletter]
                p.newsletter__text 
                                |Sign up and receive the latest tips
                                |via email.
                p.footer__email #[b Your e-mail:]
                input.footer__input(placeholder="e-mail:")
                .footer__button.button Subscribe
        .footer__copyright
            p.copyright__text © 2022 YOUR-DOMAIN | Created by Firmbee.com
