header.heder__container 
    h1.header__logo 
        img(src="images/company-logo.png", alt="")
    nav#menu.navigation__body.navigation 
        ul.navigation__list 
            li.navigation__item 
                a.navigation__link(href="#")  Home
            li.navigation__item 
                a.navigation__link(href="#")  About
            li.navigation__item 
                a.navigation__link(href="#")  Contact
            li.navigation__item 
                a.navigation__link(href="#")  Blog                            
    .header__signin 
        a.signin(href="#") Sign in
        .header__button.button 
            a(href="#") Create account
    a#menu.hamburger
        span