header(header)
    h1(header__logo)
        img(src='image/company-logo.png')
    .nav 
        ul
            li
                a(href="") 
            li
                a(href="") 
            li
                a(href="") 
            li
                a(href="") 
    .singin 
        .singin__link 
        .singin__button