.category__section
    .category__container
        .title__category 
            h2 Search by #[span.title-green category]
            .category__all
                p  All category
            .category__arrow
                a(href="")  
                    img(src="images/arrow.png", alt="")
        .slider__category.slider 
            .left__button.round__button
            ul.cards__list
                li.cards__items
                    .cards__content
                        .cards__img
                            img(src="images/bulb.png", alt="")
                        p.cards__text  Business
                        p.cards__text  Development
                li.cards__items
                    .cards__content
                        .cards__img
                            img(src="images/grafic.png", alt="")
                        p.cards__text Graphic
                        p.cards__text Designer
                li.cards__items 
                    .cards__content
                        .cards__img
                            img(src="images/project.png", alt="")
                        p.cards__text Project
                        p.cards__text Management
                li.cards__items
                    .cards__content 
                        .cards__img
                            img(src="images/marketing.png", alt="")
                        p.cards__text Marketing &
                        p.cards__text Communication
            .right__button.round__button 