.category__section
    .category__container
        .title__category 
            h2 Search by #[span.title-green category]
            a(href="")
                span All category
                img(src="images/arrow.png", alt="")
        .slider__category.slider 
            .button.left__button.round__button
                span left
            ul.cards__list
                li.cards__items
                    .cards__content
                        .cards__img
                            span.fa-regular.fa-lightbulb.icons
                        p.cards__text  Business
                        p.cards__text  Development
                li.cards__items
                    .cards__content
                        .cards__img
                            span.fa-solid.fa-pen-ruler.icons
                            p.cards__text Graphic
                            p.cards__text Designer
                li.cards__items 
                    .cards__content
                        .cards__img
                            span.fa-solid.fa-timeline.icons
                            p.cards__text Project
                            p.cards__text Management
                li.cards__items
                    .cards__content 
                        .cards__img
                            span.fa-solid.fa-bullhorn.icons
                            p.cards__text Marketing &
                            p.cards__text Communication
                li.cards__items
                    .cards__content
                        .cards__img
                            span.fa-regular.fa-lightbulb.icons
                            p.cards__text  Business
                            p.cards__text  Development
                li.cards__items
                    .cards__content
                        .cards__img
                            span.fa-solid.fa-pen-ruler.icons
                            p.cards__text Graphic
                            p.cards__text Designer
                li.cards__items 
                    .cards__content
                        .cards__img
                            span.fa-solid.fa-timeline.icons
                            p.cards__text Project
                            p.cards__text Management
                li.cards__items
                    .cards__content 
                        .cards__img
                            span.fa-solid.fa-bullhorn.icons
                            p.cards__text Marketing &
                            p.cards__text Communication
            .button.right__button.round__button 
                span right