.find__section   
    .find__container
        .title__find 
            h2.find__title #[span.title-green Find jobs] around
                           br 
                           |the world
                          
