.form__section 
    .form__container
        form.form-home
            .home-form 
                .form__content 
                    h5.form__content-title  Get your update news
                    p.form__content-text If you going to use a passage of Lotem Ipsum, you need
                                         br
                                         |to be sure there  isn’t anything embarrassing.  
                .input__form     
                    input.form-home__input(placeholder="Enter your email")
                    .form-home__button.button Send