.job__section
    .job__container 
        .title__job             
                h2 Job #[span.title-green offers]                    
                a(href="")  
                    span All category 
                    img(src="images/arrow.png", alt="")
        .job__offers
            .image__job
                .job__border.border
                .job__image
                    img(src="images/offerssmall.jpg", alt="") 
            .job__cards 
                ul.job__list 
                    li.job__items
                        .job-holder
                            .job__items-title
                                .items-title-img
                                    img(src="images/gosmall.png", alt="") 
                                .items-title-content 
                                    h4 Go! SM
                                    p.job__cards-text It has survived not only five
                                                |centuries, but also the leap into
                                                |electronic typesetting, remaining
                                                |essentially unchanged.
                            .job__items-subtitle
                                p.items-subtitle-text location: 
                                    b Stuttgart
                                p.items-subtitle-nombers Jobs:  3
                            .job__items-button.button See details
                    li.job__items
                        .job-holder
                            .job__items-title
                                .items-title-img 
                                    img(src="images/rsmall.png", alt="")
                                .items-title-content 
                                    h4 Social Road
                                    p.job__cards-text  It has survived not only five
                                                |centuries, but also the leap into
                                                |electronic typesetting, remaining
                                                |essentially unchanged.
                            .job__items-subtitle
                                p.items-subtitle-text location: 
                                    b Stuttgart
                                p.items-subtitle-nombers Jobs:  3
                            .job__items-button.button See details
                    li.job__items
                        .job-holder
                            .job__items-title
                                .items-title-img 
                                    img(src="images/filesmall.png", alt="")
                                .items-title-content 
                                    h4 Create Paper
                                    p.job__cards-text  It has survived not only five
                                                |centuries, but also the leap into
                                                |electronic typesetting, remaining
                                                |essentially unchanged.
                            .job__items-subtitle
                                p.items-subtitle-text location: 
                                    b Stuttgart
                                p.items-subtitle-nombers Jobs:  3
                            .job__items-button.button See details
                    li.job__items
                        .job-holder
                            .job__items-title
                                .items-title-img
                                    img(src="images/comentsmall.png", alt="")
                                .items-title-content 
                                    h4 Point Design
                                    p.job__cards-text  It has survived not only five
                                                |centuries, but also the leap into
                                                |electronic typesetting, remaining
                                                |essentially unchanged.
                            .job__items-subtitle
                                p.items-subtitle-text location: 
                                    b Stuttgart
                                p.items-subtitle-nombers Jobs:  3
                            .job__items-button.button See details

