.services__wrapper 
    .services__container 
        .title__services
            .services__title
                h2 Top Notch 
                    span.title-green Service
        .services__cards 
            ul.services__list
                li.services__items 
                    .services__img 
                        img(src="images/cv.png", alt="")
                    h5.services__title 2 331
                    .services__subtitle Job offers
                li.services__items 
                    .services__img 
                        img(src="images/men.png", alt="")
                    h5.services__title 1 148
                    .services__subtitle Satisfied customers 
                li.services__items 
                    .services__img 
                        img(src="images/note.png", alt="")
                    h5.services__title 5 364
                    .services__subtitle Applications sent
                li.services__items 
                    .services__img 
                        img(src="images/chek.png", alt="")
                    h5.services__title 1 764
                    .services__subtitle Realized projects