.help__section
    .help__container 
        .help__content.content 
            h2.help__title  Looking for a job?
                br
                span.welcom-green we will help you
            p.help__text Check out our offers
            form.text__form
                .form__img
                    img(src="images/lupa.png", alt="")
                .form__input    
                    input(placeholder="Type in your job search").search
                .separator 
                .location location:
                .dropdown
                    ul.dropdown__list 
                        li.dropdown__item
                            a(href="#") Wrotslav 
                        li  
                            a.dropdown__link(href="#") Krakov    
                .form__button.button Search
            .socialnetwork
                p Fallow Us
                ul.social__list.list 
                    li.social__items 
                        a(href="") 
                            img(src="images/inst.png", alt="")
                    li.social__items 
                        a(href="")
                            img(src="images/twitter.png", alt="")              
                    li.social__items 
                        a(href="")
                            img(src="images/facebook.png", alt="") 
        .help__images
            .hend__image  
                img(src="images/hendsbig.png", alt="")           
            .help__border.border
            

         
        