.help__container 
    .help__content.content 
        h2.help__title  Looking for a job?
        h2.title-green we will help you
        p.help__text Check out our offers
        form.text__form
            img(src="images/lupa.png", alt="")
            input(placeholder="Type in your job search") 
            .separator 
            .location location:
            .dropdowp 
                button.mainmenubtn
                .dropdown-child
                    a(href="#")  Wroclaw
            .form__button.button Search
    ul.social__list.list 
            li.social__items 
                a.social__icons(href="") 
    .help__image 
        