.content
  include ../components/welcome
  include ../components/category
  include ../components/job
  include ../components/services
  include ../components/form-home 
  include ../components/find
  