doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    include main/head
  body
    wrapper
      include main/header
      include layouts/index
      include main/footer
include main/scripts